<!DOCTYPE html>
<!--Copylight© Tomato All rights reserved.-->
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="動画投稿者トマトの公式ブログサイトです。動画投稿に関する情報やブログ等のコンテンツ情報を発信しています。">
    <meta property="og:image" content="logo.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="logo.jpg">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>404 Not Found | トマト</title>
</head>

<body>
    <div class="centre">
        <div class="black">
            <h1>トマト</h1>
        </div>

        <div>
            <h2>404 Not Found</h2>
            <p>お探しのページは移動または削除された可能性があります。<br>URLにミスがないか再度確認してください。</p>
            <a href="/" class="btn btn-outline">戻る</a>
        </div>
    </div>
</body>

</html>