<!DOCTYPE html>
<!--Copylight© Tomato All rights reserved.-->
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="トマトの連絡先情報です。">
    <meta property="og:image" content="logo.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="logo.jpg">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>連絡先 | トマト</title>
</head>

<body>
    <div class="centre">
        <div class="black">
            <h1>トマト</h1>
        </div>

        <div class="white">
            <table class="back-gray" align="center" border="0" width="800">
                <tr>
                    <td width="30">
                </tr>
                <tr>
                    <td>
                        <a href="/">
                            <p>トップ</p>
                        </a>
                    </td>
                    <td width="30">
                        <a href="about">
                            <p>プロフィール</p>
                        </a>
                    </td>
                    <td width="30">
                        <a href="contents">
                            <p>コンテンツ一覧</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="30">
                        <a href="search">
                            <p>コンテンツを探す</p>
                        </a>
                    </td>
                    <td width="30">
                        <a href="sns">
                            <p>SNS</p>
                        </a>
                    </td>
                    <td width="30">
                        <a href="contact">
                            <p>連絡先</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="30">
                        <a href="terms">
                            <p>利用規約</p>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="language-section">
            <div class="language-wrapper">
                <p class="menu-button" onclick="toggleMenu()">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle;">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path
                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                        </path>
                    </svg>
                    Language
                </p>
                <div class="menu" id="menu">
                    <a href="../contact" class="menu-item">日本語</a>
                    <a href="../uk/contact" class="menu-item">English(UK)</a>
                    <a href="../us/contact" class="menu-item">English(US)</a>
                    <a href="../kr/contact" class="menu-item">한국어(한국)</a>
                    <a href="../kp/contact" class="menu-item">문화어(조선)</a>
                    <a href="../zh-dl/contact" class="menu-item">中文(繫體)</a>
                    <a href="../zh-tw/contact" class="menu-item">中文(简体)</a>
                    <a href="../es/contact" class="menu-item">Español(España)</a>
                    <a href="../de/contact" class="menu-item">Deutsch(Deutschland)</a>
                    <a href="../sv/contact" class="menu-item">Svenska(Sverige)</a>
                    <a href="../ai/contact" class="menu-item">Aynu itak(Aynu mosir)</a>
                </div>
            </div>
        </div>

        <section class="contact-info mt-lg">
            <h3>連絡先情報</h3>
            <p><strong>メールアドレス</strong><br><a href="mailto:tomato_118_22@naver.com">tomato_118_22＠naver.com</a><br>(メール送信時はアットマーク@を半角に直してください。)</p>
            <p><strong>Twitter(自称X)アカウント</strong><br><a href="https://x.com/tomato_22_118" target="_blank">@Tomato_22_118</a>
            </p>
            <p><strong>アンケート</strong><br><a href="https://questant.jp/q/ERLH8NA9" target="_blank">アンケートに答える</a></p>
        </section>
    </div>

    <footer class="right">
        <p class="black">Copylight© 2024-2026 Tomato All rights reserved.</p>
    </footer>
</body>

</html>